[Desktop Entry]
Name=Simple Weather Monitor
Keywords=Cosmic;Iced;
Categories=Cosmic;Iced;

Type=Application
Icon=io.github.cosmic-utils.cosmic-ext-applet-weather-symbolic
Exec=cosmic-ext-applet-weather
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
