[Desktop Entry]
Name=Simple Weather Monitor
Keywords=Cosmic;Iced;applet;weather;monitor;
Categories=Cosmic;Iced;

Type=Application
Icon=io.github.cosmic_utils.weather-applet-symbolic
Exec=cosmic-ext-applet-weather
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
