[Desktop Entry]
Name=Simple Weather Monitor
Name[es]=Monitor meteorológico simple
Keywords=Cosmic;Iced;applet;weather;monitor;
Keywords[es]=Cosmic;Iced;applet;tiempo;monitor;temperatura;
Categories=Cosmic;Iced;

Type=Application
Icon=io.github.cosmic_utils.weather-applet-symbolic
Exec=cosmic-ext-applet-weather
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
