name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt install libxkbcommon-dev
    - name: Build
      run: cargo build --verbose
    - name: Check lint
      run: cargo clippy --verbose -- -D warnings
    - name: Check formatting
      run: cargo fmt --check
